Package: Linux-Theme-By-Mame
Version: 2.1.5
Architecture: amd64
Maintainer: yangxins.github.io <yangmame@icloud.com>
Installed-Size: 
Depends:
Description:Linux Themes Made By Mame! Thanks For Using!
